<!-- <header>
    <div class="mt-3 brand">
        Meme Generator
    </div>
</header> -->

<nav class="navbar navbar-light" id="nav">
  <div class="container-fluid">
  
    <a class="navbar justify-content-center" href="#" id="navHeading">
      <img src="/src/assets/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Memes Generator
    </a>
    <a class="nav-link active" aria-current="page" href="#">by Saurabh Virkar</a>

  </div>
</nav>

<!-- <header >
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
          <div class="">
            <a class="navbar-brand  " href="#">Memes Generator</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col-md-6">
          <div class="float-end" id="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item d-flex">
                    <a class="nav-link active" aria-current="page" href="#">Saurabh Virkar</a>
                  </li>
            </ul>
          </div>
        </div>
      </div>
     
      
    </div>
  </nav>

</header> -->
